<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Free-Lances</title>

        <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;600;800&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../styles/freelance.css">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/responsive.css">

    </head>
    <body>

        <header>
            <a class="aw-home" href="../index.html">
                <div id="icon-home"></div>
            </a>

            <div class="right-menu">
                <button class="menu-button">Experiências</button>
                <div class="dropdown-menu">
                    <a href="./education.html">Educação</a>
                    <a href="./exchange.html">Intercâmbio</a>
                    <a href="./internship.html">Estágio</a>
                    <a href="./freelance.html">Free Lances</a>
                </div>
            </div>

            <div class="right-menu">
                <button class="menu-button">Habilidades</button>
                <div class="dropdown-menu">
                    <a href="#Home">Cursos</a>
                    <a href="#Home">Pessoais</a>
                    <a href="#Home">Profissionais</a>
                </div>
            </div>

            <div class="right-menu">
                <button class="menu-button">Portifolio</button>
                <div class="dropdown-menu">
                    <a href="#Home">Web</a>
                    <a href="#Home">Design</a>

                </div>
            </div>

            <a class="a-contact" href="#contact">Contato</a>
        </header>

        <section id="first-section">

            <div class="first-section-title">
                <div class="title-fadein">
                    <h1>Freelas</h1>
                </div>
                <p class="subtitle-fadein">Design</p>
            </div>

        </section>

        <section class="second-section">
            <div class="picture"></div>
            <div class="second-section-text">
                <h2>Trabalhos excutados</h2>
                <p>
                    Sempre gostei de resolução de problemas, raciocínio lógico, e criar coisas novas, comecei minha carreira acreditando que a engenharia fosse o caminho para me realizar profissionalmente, mas foi dentro da programação que me encontrei, e essa descoberta de poder trabalhar com o que realmente gosto me deixa animado para o futuro!
                </p>
            </div>
        </section>

        <footer>

            <div id="contact">
                <h2>Contato</h2>
                <a class="contact-email" href="mailto:andrewgcarcalho@gmail.com?subject=Gostei do seu site, gostaria de conversar com você.&body=Olá, tudo bem? ...">
                    <div class="email-icon"></div>
                    <p>andrewgcarvalho@gmail.com</p>
                </a>
                <div class="contact-phone">
                    <div class="cellphone-icon"></div>
                    <p>(11) 99260-3675</p>
                </div>
                <div class="contact-linkedin">
                    <div class="linkedin-icon"></div>
                    <p>andrecarvalho3</p>
                </div>
            </div>

            <div class="socialBox">
                <h2>Social Media</h2>
                <div class="socialBox-icons">
                    <a class="socialMedia" href="https://github.com/AndrehW27" target="_blank">
                        <div id="icon1"></div>
                    </a>
                    <a class="socialMedia" href="https://www.linkedin.com/in/andrecarvalho3/" target="_blank">
                        <div id="icon2"></div>
                    </a>
                    <a class="socialMedia" href="https://www.facebook.com/andrewillian.carvalho/" target="_blank">
                        <div id="icon3"></div>
                    </a>
                    <a class="socialMedia" href="https://www.instagram.com/andreh_w/" target="_blank">
                        <div id="icon4"></div>
                    </a>
                </div>
            </div>

            <div class="backToTop">
                <a class="aw-footer" href="#first-section">
                    <div id="aw-icon-footer"></div>
                </a>
                <p>Voltar para cima</p>
            </div>

        </footer>

    </body>
</html>