<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profissional

        </title>

        <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;600;800&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/professional.css">
        <link rel="stylesheet" href="../styles/responsive.css">

    </head>
    <body>

         <header>
            <a class="aw-home" href="../index.html">
                <div id="icon-home"></div>
            </a>

            <div class="right-menu">
                <button class="menu-button">Experiências</button>
                <div class="dropdown-menu">
                    <a href="./education.html">Educação</a>
                    <a href="./exchange.html">Intercâmbio</a>
                    <a href="./internship.html">Estágio</a>
                    <a href="./freelance.html">Free Lances</a>
                </div>
            </div>

            <div class="right-menu">
                <button class="menu-button">Habilidades</button>
                <div class="dropdown-menu">
                    <a href="./professional.html">Profissionais</a>
                    <a href="./personal.html">Pessoais</a>                    
                    <a href="./courses.html">Cursos</a>
                </div>
            </div>

            <div class="right-menu">
                <button class="menu-button">Portifolio</button>
                <div class="dropdown-menu">
                    <a href="./web.html">Web</a>
                    <a href="./freelance.html">Design</a>

                </div>
            </div>

            <a class="a-contact" href="#contact">Contato</a>
        </header>

        <div id="main-professional">
            <div class="tab-title">
                <div class="html-tab1">
                    <div class="html-icon"></div>
                    mySkills.html
                </div>
                <div class="html-tab">
                    <div class="css-icon"></div>
                    mySkills.css</div>
                <div class="html-tab">
                    <div class="js-icon"></div>
                    mySkills.js
                </div>
                <div class="menu-fechar">
                    <div class="icon-minimize"></div>
                    <div class="icon-maximize"></div>
                    <div class="icon-fechar"></div>

                </div>

            </div>

            <div class="code">

                <div class="numbers-box">
                    <p class="numbers">1</p>
                    <p class="numbers">2</p>
                    <p class="numbers">3</p>
                    <p class="numbers">4</p>
                    <p class="numbers">5</p>
                    <p class="numbers">6</p>
                    <p class="numbers">7</p>
                    <p class="numbers">8</p>
                    <p class="numbers">9</p>
                    <p class="numbers">10</p>
                    <p class="numbers">11</p>
                    <p class="numbers">12</p>
                </div>

                <section id="professional">
                    <p>
                        <span style="color:#F87217">let</span>
                        <span style="color:#5EFB6E">professionalSkills</span>
                        <span style="color:#FF00FF">=</span>
                        {</p>
                    <p class="objects">english<span style="color:#FF00FF">:</span>
                        <span style="color:#A23BEC">90</span><span style="color:#FF00FF">,</span></p>
                    <p class="objects">html5<span style="color:#FF00FF">:</span>
                        <span style="color:#A23BEC">80</span><span style="color:#FF00FF">,</span></p>
                    <p class="objects">css3<span style="color:#FF00FF">:</span>
                        <span style="color:#A23BEC">80</span><span style="color:#FF00FF">,</span></p>
                    <p class="objects">excel<span style="color:#FF00FF">:</span>
                        <span style="color:#A23BEC">80</span><span style="color:#FF00FF">,</span></p>
                    <p class="objects">vba<span style="color:#FF00FF">:</span>
                        <span style="color:#A23BEC">80</span><span style="color:#FF00FF">,</span></p>
                    <p class="objects">javascript<span style="color:#FF00FF">:</span>
                        <span style="color:#A23BEC">50</span><span style="color:#FF00FF">,</span></p>
                    <p class="objects">illustrator<span style="color:#FF00FF">:</span>
                        <span style="color:#A23BEC">50</span><span style="color:#FF00FF">,</span></p>
                    <p class="objects">photoshop<span style="color:#FF00FF">:</span>
                        <span style="color:#A23BEC">50</span><span style="color:#FF00FF">,</span></p>
                    <p class="objects">react<span style="color:#FF00FF">:</span>
                        <span style="color:#A23BEC">30</span><span style="color:#FF00FF">,</span></p>
                    <p class="objects">reactNative<span style="color:#FF00FF">:</span>
                        <span style="color:#A23BEC">30</span><span style="color:#FF00FF">,</span></p>
                    <p>};</p>

                </section>

                <div class="bars-box">
                    <div class="english"></div>

                    <div class="html"></div>

                    <div class="html"></div>

                    <div class="html"></div>

                    <div class="html"></div>

                    <div class="js"></div>

                    <div class="js"></div>

                    <div class="js"></div>

                    <div class="react"></div>

                    <div class="react"></div>

                </div>
            </div>
        </div>

        <footer>

            <div id="contact">
                <h3>CONTATO</h3>
                <a class="contact-email" href="mailto:andrewgcarcalho@gmail.com?subject=Gostei do seu site, gostaria de conversar com você.&body=Olá, tudo bem? ...">
                    <div class="email-icon"></div>
                    <p>andrewgcarvalho@gmail.com</p>
                </a>
                <div class="contact-phone">
                    <div class="cellphone-icon"></div>
                    <p>(11) 99260-3675</p>
                </div>
                <div class="contact-linkedin">
                    <div class="linkedin-icon"></div>
                    <p>andrecarvalho3</p>
                </div>
            </div>

            <div class="socialBox">
                <h3>SOCIAL MEDIA</h3>
                <div class="socialBox-icons">
                    <a class="socialMedia" href="https://github.com/AndrehW27" target="_blank">
                        <div id="icon1"></div>
                    </a>
                    <a class="socialMedia" href="https://www.linkedin.com/in/andrecarvalho3/" target="_blank">
                        <div id="icon2"></div>
                    </a>
                    <a class="socialMedia" href="https://www.facebook.com/andrewillian.carvalho/" target="_blank">
                        <div id="icon3"></div>
                    </a>
                    <a class="socialMedia" href="https://www.instagram.com/andreh_w/" target="_blank">
                        <div id="icon4"></div>
                    </a>
                </div>
            </div>

            <div class="backToTop">
                <a class="aw-footer" href="#main-professional">
                    <div id="aw-icon-footer"></div>
                </a>
                <p>Voltar para cima</p>
            </div>

        </footer>

    </body>
</html>