<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Free-Lances</title>

        <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;600;800&display=swap" rel="stylesheet">

        <script src="../scripts/freelance.js"></script>

        <link rel="stylesheet" href="../styles/web.css">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/responsive.css">

    </head>
    <body>
        
        <header>
            <a class="aw-home" href="../index.html">
                <div id="icon-home"></div>
            </a>

            <div class="right-menu">
                <button class="menu-button">Experiências</button>
                <div class="dropdown-menu">
                    <a href="./education.html">Educação</a>
                    <a href="./exchange.html">Intercâmbio</a>
                    <a href="./internship.html">Estágio</a>
                    <a href="./freelance.html">Free Lances</a>
                </div>
            </div>

            <div class="right-menu">
                <button class="menu-button">Habilidades</button>
                <div class="dropdown-menu">
                    <a href="./professional.html">Profissionais</a>
                    <a href="./personal.html">Pessoais</a>                    
                    <a href="./courses.html">Cursos</a>
                </div>
            </div>

            <div class="right-menu">
                <button class="menu-button">Portifolio</button>
                <div class="dropdown-menu">
                    <a href="./web.html">Web</a>
                    <a href="./freelance.html">Design</a>

                </div>
            </div>

            <a class="a-contact" href="#contact">Contato</a>
        </header>

        <section id="first-section">

            <div class="first-section-title">
                <div class="title-fadein">
                    <h1>Desenvolvimento Web</h1>
                </div>
                <p class="subtitle-fadein">Front-End</p>
            </div>

        </section>

        <section class="second-section">
            <div class="picture"></div>
            <div class="second-section-text">
                <h2>Trabalhos Executados</h2>
                <p>
                    Aqui você pode encontrar os projetos front end que fiz por conta própria, mas caso queira ver mais afundo estes projetos, é possível acessa-lós em meu repositório no
                    <a href="https://github.com/AndrehW27">Github</a>, futuros projetos serão adicionados aqui.
                    <br>
                    No Github, também tenho outros projetos, que não são de autoria própria, pois executei-os durante cursos, mas que mesmo assim são de muito valia para meu aprendizado, estes outros projetos não se resumem somente a front end, neles tive acesso a outras ferramentas como: Node.js, NunJunks, Insomnia, React, React Native, entre outras.
                </p>
            </div>
        </section>

        <section class="third-section">
            <div id="img1" class="grid-itens"></div>
            <div id="img2" class="grid-itens"></div>
            <div id="img3" class="grid-itens"></div>
            <div id="img4" class="grid-itens"></div>
        </section>

        <footer>

            <div id="contact">
                <h3>CONTATO</h3>
                <a class="contact-email" href="mailto:andrewgcarcalho@gmail.com?subject=Gostei do seu site, gostaria de conversar com você.&body=Olá, tudo bem? ...">
                    <div class="email-icon"></div>
                    <p>andrewgcarvalho@gmail.com</p>
                </a>
                <div class="contact-phone">
                    <div class="cellphone-icon"></div>
                    <p>(11) 99260-3675</p>
                </div>
                <div class="contact-linkedin">
                    <div class="linkedin-icon"></div>
                    <p>andrecarvalho3</p>
                </div>
            </div>

            <div class="socialBox">
                <h3>SOCIAL MEDIA</h3>
                <div class="socialBox-icons">
                    <a class="socialMedia" href="https://github.com/AndrehW27" target="_blank">
                        <div id="icon1"></div>
                    </a>
                    <a class="socialMedia" href="https://www.linkedin.com/in/andrecarvalho3/" target="_blank">
                        <div id="icon2"></div>
                    </a>
                    <a class="socialMedia" href="https://www.facebook.com/andrewillian.carvalho/" target="_blank">
                        <div id="icon3"></div>
                    </a>
                    <a class="socialMedia" href="https://www.instagram.com/andreh_w/" target="_blank">
                        <div id="icon4"></div>
                    </a>
                </div>
            </div>

            <div class="backToTop">
                <a class="aw-footer" href="#first-section">
                    <div id="aw-icon-footer"></div>
                </a>
                <p>Voltar para cima</p>
            </div>

        </footer>

    </body>
</html>