/* PRIMEIRA SESSÃO */

.courses-background {
    background-image: url(../assets/backgrounds/cursos7.jpg);
    position: relative;
    background-attachment: fixed;
}

/* SEGUNDA SESSÃO */

.courses-picture {
    background-image: url(../assets/images/cursos4.jpg);
}
