/* PRIMEIRA SESSÃO */

.education-background {
    background-image: url(../assets/backgrounds/ufabc10.jpg);
    position: relative;
    background-attachment: fixed;
}

/* SEGUNDA SESSÃO */

.education-picture {
    background-image: url(../assets/images/formatura2.jpg);
}
