/* PRIMEIRA SESSÃO */

.exchange-background {
    background-image: url(../assets/backgrounds/wayne2.jpg);
    position: relative;
    background-attachment: fixed;
}

/* SEGUNDA SESSÃO */

.exchange-picture {
    background-image: url(../assets/images/wsu.jpg);
}