#skills{
    padding: 24px 0;
}

.home-background {
background-image: url(../assets/backgrounds/landscape1.jpg);
}

/* SEGUNDA SESSÃO */

.home-picture {
    background-image: url(../assets/images/profile.jpg);
}



