@media (max-width:770px) {
    /* HEADER */
    header .aw-home {
        width: 50px;
        border: none;
    }
    header #icon-home {
        height: 25px;
        width: 25px;
    }
    header .menu-button {
        font-size: 12px;
        padding: 0 8px;
    }
    header .dropdown-menu {
        min-width: 70px;
    }
    header .dropdown-menu a {
        font-size: 12px;
    }
    header .a-contact {
        font-size: 12px;
        padding: 0 8px;
    }
    /* FIRST-SECTION */
    .first-section-title h1 {
        font-size: 24px;
    }
    .first-section-title p {
        font-size: 12px;
    }
    .first-section-title {
        max-width: 250px;
        padding: 0 12px;
    }
    /* SECOND-SECTION */
    .second-section {
        flex-direction: column;
        margin: 0;
    }
    #skills{
        font-size: 24px;
    }
    ul{
        padding: 0 24px 0 48px;
        margin-bottom: 24px;
    }
    ul a{
        font-size: 14px;
    }
    #picture {
        height: 220px;
        width: 220px;
    }
    .second-section-text h2 {
        font-size: 24px;
        margin: 0;
    }
    .second-section-text p {
        font-size: 14px;
    }
    .second-section-text p a{
        font-size: 14px;
    }
    .second-section-text ul {
        font-size: 14px;
    }
    
    /* THIRD-SECTION */
    .third-section {
        flex-direction: column;
        margin: 0 24px;
    }
    .images {
        width: 100vw;
        height: 200px;
    }
    #img12{
        width: 200px;
    }
    #img16{
        height: 450px;
    }
    .third-section-description p{
        width: 320px;
    }
    .third-section-description h2{
        margin-top: 12px;
        font-size: 24px;
    }
    .third-section-description p, .third-section-description a{
        font-size: 14px;
    }

    /* FOOTER */
    footer {
        flex-direction: column;
    }
    footer h3 {
        font-size: 24px;
    }
    footer p {
        font-size: 14px;
    }
    footer #contact {
        margin-top: 28px;
    }
    footer .socialBox {
        margin-top: 28px;
    }
    footer .backToTop {
        margin: 32px 0;
    }
    .aw-footer {
        margin-bottom: 12px;
    }
    /* WEB */
    #img1-box {
        flex-direction: column;
    }
    /* PROFESSIONAL */
    .tab-title {
        font-size: 12px;
    }
    .html-icon {
        height: 15px;
        width: 15px;
        margin-right: 6px;
    }
    .css-icon {
        height: 15px;
        width: 15px;
        margin-right: 6px;
    }
    .js-icon {
        height: 15px;
        width: 15px;
        margin-right: 6px;
    }
    .menu-fechar {
        display: none;
    }
    .numbers-box {
        padding-top: 28px;
        padding-left: 12px;
    }
    .numbers-box p {
        font-size: 12px;
    }
    #professional {
        padding-left: 12px;
        flex: 1;
    }
    #professional p {
        font-size: 12px;
    }
    .bars-box {
        padding-top: 50px;
        padding-left: 0px;
    }
    .english {
        height: 6px;
        margin-bottom: 12px;
    }
    .html {
        height: 6px;
        margin-bottom: 12px;
    }
    .js {
        height: 6px;
        margin-bottom: 12px;
    }
    .react {
        height: 6px;
        margin-bottom: 12px;
    }
    .react2 {
        margin-bottom: 78px;
    }
}