@media (max-width:770px) {
    /* HEADER */
    header .aw-home {
        width: 50px;
        border: none;
    }
    header #icon-home {
        height: 25px;
        width: 25px;
    }
    header .menu-button {
        font-size: 13px;
        padding: 0 8px;
    }
    header .dropdown-menu {
        min-width: 70px;
    }
    header .dropdown-menu a {
        font-size: 13px;
    }
    header .a-contact {
        font-size: 13px;
        padding: 0 8px;
    }
    /* FIRST-SECTION */
    #first-section h1 {
        font-size: 36px;
    }
    #first-section p {
        font-size: 18px;
    }
    /* SECOND-SECTION */
    .second-section {
        flex-direction: column;
    }
    .picture {
        height: 220px;
        width: 220px;
    }
    .second-section-text {
        margin: 0;
    }
    .second-section-text h2 {
        width: 90%;
        font-size: 24px;
        margin: 0;
    }
    .second-section-text ul {
        width: 90vw;
        font-size: 24px;
    }
    .second-section-text p {
        width: 90vw;
        font-size: 8px;
        margin: 0;
    }
    /* THIRD-SECTION */
    .third-section {
        grid-template-columns: 1fr;
        padding: 8px;
    }
    .grid-itens {
        height: 190px;
    }
    /* FOOTER */
    footer {
        flex-direction: column;
    }
    footer h3 {
        font-size: 22px;
    }
    footer p {
        font-size: 18px;
    }
    footer #contact {
        margin-top: 28px;
    }
    footer .socialBox {
        margin-top: 28px;
    }
    footer .backToTop {
        margin: 32px 0;
    }
    .aw-footer {
        margin-bottom: 13px;
    }
    /* WEB */
    #img1-box {
        flex-direction: column;
    }
    /* PROFESSIONAL */
    .tab-title {
        font-size: 12px;
    }
    .html-icon {
        height: 15px;
        width: 15px;
        margin-right: 6px;
    }
    .css-icon {
        height: 15px;
        width: 15px;
        margin-right: 6px;
    }
    .js-icon {
        height: 15px;
        width: 15px;
        margin-right: 6px;
    }
    .menu-fechar {
        display: none;
    }
    .numbers-box {
        padding-top: 28px;
        padding-left: 12px;
    }
    .numbers-box p {
        font-size: 12px;
    }
    #professional {
        padding-left: 12px;
        flex: 1;
    }
    #professional p {
        font-size: 12px;
    }
    .bars-box {
        padding-top: 50px;
        padding-left: 0px;
    }
    .english {
        height: 6px;
        margin-bottom: 13px;
    }
    .html {
        height: 6px;
        margin-bottom: 13px;
    }
    .js {
        height: 6px;
        margin-bottom: 13px;
    }
    .react {
        height: 6px;
        margin-bottom: 13px;
    }
    .react2 {
        margin-bottom: 78px;
    }
}