/* PRIMEIRA SESSÃO */

#first-section {
    background-image: url(../assets/backgrounds/web.jpg);
}

/* SEGUNDA SESSÃO */

.picture {
    background-image: url(../assets/images/front.jpg);
}

.second-section-text a {
    color: var(--third-color);
}

/* THIRD-SECTION */

.grid-itens{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 335px;
    transition: 400ms;
    border: 1px solid var(--primary-color);
}
#img1 {
    background-image: url(../assets/images/imc.jpg);
}
#img2 {
    background-image: url(../assets/images/portifolio.JPG);
}
#img3 {
    background-image: url(../assets/images/ecoleta.jpg);
}
#img4 {
    background-image: url(../assets/images/bethehero.jpg);
}

