/* PRIMEIRA SESSÃO */

.web-background {
    background-image: url(../assets/backgrounds/web.jpg);
    margin-top: 60px;
}

/* SEGUNDA SESSÃO */

.web-picture {
    background-image: url(../assets/images/front.jpg);
}

.second-section-text a {
    color: var(--third-color);
}

/* THIRD-SECTION */

#img1 {
    background-image: url(../assets/images/imc.jpg);
    border: 1px solid black;
}

#img2 {
    background-image: url(../assets/images/portifolio.JPG);
    border: 1px solid black;
}

#img3 {
    background-image: url(../assets/images/ecoleta.jpg);
    border: 1px solid black;
}

#img4 {
    background-image: url(../assets/images/bethehero.jpg);
    border: 1px solid black;
}

/* #img1:hover ~ .third-section-description{
   display: none;
}
#img1:hover{
    height: 100%;
    width: 100%;
} */